.root {
  max-width: 1300px;
  margin: auto;
}
.back {
  width: 1300px;
  height: auto;
  position: absolute;
  opacity: 0.4;
  left: 50%;
  margin-left: -650px;
  top: 0px;
}
.container {
  min-height: 512px;
  max-width: 1300px;
  margin: auto;
  border-bottom: 9px solid #a191b1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.container .container-logo {
  height: 457px;
  width: 457px;
  margin-top: 14px;
  margin-left: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.container .container-logo .container-logo-text {
  text-transform: uppercase;
  font-size: 93px;
  margin-bottom: 0;
}
.container .container-title {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 38px;
}
.container .container-title .container-title-text {
  text-transform: uppercase;
  font-size: 54px;
  margin-top: 38px;
}
.navbar {
  max-width: 1300px;
  min-height: 130px;
  padding: 0 142px;
  position: relative;
}
.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .navbar-brand .textMinto {
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 36px;
  margin-top: 15px;
}
.navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
}
.navbar .navbar-menu {
  font-size: 20px;
  position: relative;
  margin-left: 47px;
  height: 44px;
  padding: 0px 4px;
  line-height: 40px;
  cursor: pointer;
}
.navbar .navbar-menu:hover {
  background-color: lightgray;
}
.section-img {
  width: 1300px;
  height: 528px;
  margin: auto;
}
.section-img .img-item {
  width: 1026px;
  height: 490px;
  background-image: url("img/banner.png");
  margin-left: 12px;
}
.section-img .img-item .navigation-item {
  height: inherit;
  padding: 0 15px;
}
.section-img .img-item .navigation-item .navigation-arrow {
  margin-bottom: 10px;
  width: 35px;
  cursor: pointer;
}
.section-img .img-item .navigation-item .navigation-arrow:hover {
  background-color: lightgray;
}
.section-img .img-item .navigation-item .title-container {
  margin-top: -63px;
}
.section-img .img-item .navigation-item .title-container .navigation-title {
  text-align: center;
  font-size: 118px;
  color: white;
  text-shadow: purple -7px 6px 10px;
}
.section-img .img-item .navigation-item .title-container .navigation-subtitle {
  margin-top: -55px;
  font-size: 33px;
  color: white;
}
.section-img .img-item .bigImg {
  width: 1026px;
  height: 489px;
}
.text-block {
  width: 1010px;
  height: 136px;
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  margin: auto;
}
.text-block .description {
  font-style: italic;
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
.text-block .description b {
  color: purple;
}
.info-block {
  margin: auto;
  max-width: 1010px;
  min-height: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-block .circle {
  background-image: url("img/banner.png");
  min-width: 270px;
  min-height: 270px;
  border-radius: 50%;
  margin-left: 40px;
}
.info-block .info-text {
  width: 600px;
  margin-right: 40px;
  margin-top: 44px;
}
.info-block .info-text .paragraph {
  line-height: 194%;
}
.info-block .info-text .more {
  text-align: end;
  margin-top: 26px;
  margin-right: -40px;
}
.sponsors {
  margin: auto;
  max-width: 1034px;
  min-height: 206px;
}
.sponsors .sponsors-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sponsors .sponsors-title .sponsors-text {
  font-size: 24px;
  width: 336px;
  height: 38px;
}
.sponsors .sponsors-title .sponsors-strip {
  background-color: #E4E2D8;
  width: auto;
  height: 5px;
}
.sponsors .sponsors-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.sponsors .sponsors-list .sponsors-item {
  height: 100px;
  background-color: red;
  border: 1px solid;
  margin: auto;
  margin: 10px auto;
}
.footer-container {
  background-color: #E4E2D8;
  border-bottom: 9px solid #a191b1;
  width: 1300px;
  padding: 22px 116px 16px 150px;
  min-height: 40px;
}
.footer-container .footer-content {
  width: 100%;
}
.footer-container .footer-content .social-button {
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .info-block {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .info-block .info-text {
    width: auto;
    margin: auto;
  }
  .sponsors-item {
    width: 291px;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .sponsors-item {
    width: 291px;
  }
}
@media screen and (min-width: 800px) {
  .sponsors-item {
    min-width: 195px;
  }
}
