@secondary-color: #a191b1;
.root{
  max-width: 1300px;
  margin: auto;
}
.back {
    width: 1300px;
    height: auto;
    position: absolute;
    opacity: 0.4;
    left: 50%;
    margin-left: -650px;
    top: 0px;
  }
  
  .container{
    min-height: 512px;
    max-width: 1300px;
    margin: auto;
    border-bottom: 9px solid @secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    

      .container-logo{
        height: 457px;
        width: 457px;
        margin-top: 14px;
        margin-left: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;

        .container-logo-text{
          text-transform: uppercase;
          font-size: 93px;
          margin-bottom: 0;
        }
      }

      .container-title{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 38px;

          .container-title-text{
            text-transform: uppercase;
            font-size: 54px;
            margin-top: 38px;
          }
      }
  }

 .navbar{
  max-width: 1300px;
  min-height: 130px;
  padding: 0 142px;
  position: relative;
  //z-index: -1;
 

    .navbar-brand{
      display: flex;
      justify-content: flex-start;
      align-items: center;
     

        .textMinto{
          text-transform: uppercase;
          padding-left: 15px;
          font-size: 36px;
          margin-top: 15px;
        }
    }

    .navbar-nav{
      display: flex;
      align-items: flex-end;
    }
    .navbar-menu{    font-size: 20px;
      position: relative;
      margin-left: 47px;
      height: 44px;
      padding: 0px 4px;
      line-height: 40px;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
    }

    }
 }
.section-img{
  width: 1300px;
  height: 528px;
  margin: auto;

    .img-item{
      width: 1026px;
      height: 490px;
      background-image:url("img/banner.png");
      //opacity: 0.4;
      margin-left:12px;

      .navigation-item{
        height: inherit;
        padding: 0 15px;

        .navigation-arrow{
          margin-bottom: 10px;
          width: 35px;
          cursor: pointer;

          &:hover {
            background-color: lightgray;
          }
          
        }
        .title-container{
          margin-top: -63px;
          
          .navigation-title{
            text-align: center;
            font-size: 118px;
            color: white;
            text-shadow: purple -7px 6px 10px;
        }
        .navigation-subtitle{
          margin-top: -55px;
          font-size: 33px;
          color: white;
        }
}
      }

      .bigImg{
        width: 1026px;
        height: 489px;
    }
  }
}

.text-block{
  width: 1010px;
  height: 136px;
  border-top: 4px solid purple;
  border-bottom: 4px solid purple;
  margin: auto;

  .description{
    font-style: italic;
    text-align: center;
    font-size: 22px;
    padding: 10px;
  }
  .description b{
    color: purple;
    
  }
}

.info-block{
  margin: auto;
  max-width: 1010px;
  min-height: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  

  .circle{
    background-image:url("img/banner.png"); 
    min-width: 270px;
    min-height: 270px;
    border-radius: 50%;
    margin-left: 40px;

  }

  .info-text{
    width: 600px;
    margin-right: 40px;
    margin-top: 44px;

    .paragraph{
      line-height: 194%;
    }
    .more{
      text-align: end;
      margin-top: 26px;
      margin-right: -40px;
    }
  }
}
.sponsors{
  border: 1px solid;
  margin: auto;
  max-width: 1034px;
  min-height: 206px;

    .sponsors-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      .sponsors-text{
        font-size: 24px;
        border: 1px solid;
        width: 336px;
        height: 38px;
      }
      .sponsors-strip{
        background-color: black;
        width: auto;
        height: 5px;
      }
    }

    .sponsors-list{
      display: flex;
      flex-wrap: wrap;
      .sponsors-item{
        height: 100px;
        width: 25%;
        min-width: 200px;
        background-color: red;
        border: 1px solid;
      }
    }
}
@media screen and (max-width: 600px){
  .info-block{
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    .info-text{
      width: auto;
      margin: auto;
    }
  }
}
@media screen and (min-width: 600px) and (max-width:800px){
  .sponsors-item{
    width: 50%;
    min-width: 300px;
  }
}

@media screen and (max-width: 600px){
  .sponsors-item{
    width: 100%;
    
  }  
 }