.root {
  width: 1300px;
  margin: auto;
}
.back {
  width: 1300px;
  height: auto;
  position: absolute;
  opacity: 0.4;
  left: 50%;
  margin-left: -650px;
  top: 0px;
}
.container {
  min-height: 512px;
  max-width: 1300px;
  margin: auto;
  border-bottom: 9px solid #a191b1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.container .container-logo {
  height: 457px;
  width: 457px;
  margin-top: 14px;
  margin-left: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.container .container-logo .container-logo-text {
  text-transform: uppercase;
  font-size: 93px;
  margin-bottom: 0;
}
.container .container-title {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 38px;
}
.container .container-title .container-title-text {
  text-transform: uppercase;
  font-size: 54px;
  margin-top: 38px;
}
.navbar {
  max-width: 1300px;
  min-height: 130px;
  padding: 0 142px;
  position: relative;
}
.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .navbar-brand .textMinto {
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 36px;
  margin-top: 15px;
}
.navbar .navbar-nav {
  display: flex;
  align-items: flex-end;
}
.navbar .navbar-menu {
  font-size: 20px;
  position: relative;
  margin-left: 47px;
  height: 44px;
  padding: 0px 4px;
  line-height: 40px;
  cursor: pointer;
}
.navbar .navbar-menu:hover {
  background-color: lightgray;
}
.section-img {
  width: 1300px;
  height: 528px;
  margin: auto;
}
.section-img .img-item {
  width: 1026px;
  height: 490px;
  background-image: url("img\banner.png");
  opacity: 0.4;
  margin-left: 12px;
}
.section-img .img-item .navigation-item {
  height: inherit;
  padding: 0 15px;
}
.section-img .img-item .navigation-item .navigation-arrow {
  margin-bottom: 10px;
  width: 35px;
  cursor: pointer;
}
.section-img .img-item .navigation-item .navigation-arrow:hover {
  background-color: lightgray;
}
.section-img .img-item .navigation-item .title-container {
  margin-top: -63px;
}
.section-img .img-item .navigation-item .title-container .navigation-title {
  text-align: center;
  font-size: 118px;
  color: white;
  text-shadow: purple -7px 6px 10px;
}
.section-img .img-item .navigation-item .title-container .navigation-subtitle {
  margin-top: -55px;
  font-size: 33px;
  color: white;
}
.section-img .img-item .bigImg {
  width: 1026px;
  height: 489px;
}
