@secondary-color: #a191b1;
.root{
  width: 1300px;
  margin: auto;
}
.back {
    width: 1300px;
    height: auto;
    position: absolute;
    opacity: 0.4;
    left: 50%;
    margin-left: -650px;
    top: 0px;
  }
  
  .container{
    height: 494px;
    margin: auto;
    border-bottom: 9px solid @secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;


      .container-logo{
        height: 457px;
        width: 457px;
        margin-top: 5px;
        margin-left: 68px;
        display: flex;
        justify-content: center;
        align-items: center;

        .container-logo-text{
          text-transform: uppercase;
          font-size: 93px;
        }
      }

      .container-title{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;

          .container-title-text{
            text-transform: uppercase;
            font-size: 54px; //не знаю какой шрифт 
          }
      }
  }

  .navigation{//не выравнила эл-ты меню,т.к не подобрала шрифт и они на макете были не ровными

    height: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-right: 130px;

    .navbar{
      
      width: 120px;
      height: 50px;
      margin-left: 43px;
      line-height: 52px;
      position: relative;
      font-size: 21px;

      .menuicon{
        margin-right: 6px;
      }
    }

    .navbar-logo{
      width: 70px;
      height: 71px;
      position: absolute;
      left: 141px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .navbar-logo-text{
        padding-left: 10px;
        font-size: 39px;
        text-transform: uppercase;
      }
    }
  }
