@secondary-color: #a191b1;
.root{
  width: 1300px;
  margin: auto;
}
.back {
    width: 1300px;
    height: auto;
    position: absolute;
    opacity: 0.4;
    left: 50%;
    margin-left: -650px;
    top: 0px;
  }
  
  .container{
    min-height: 512px;
    max-width: 1300px;
    margin: auto;
    border-bottom: 9px solid @secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    

      .container-logo{
        height: 457px;
        width: 457px;
        margin-top: 14px;
        margin-left: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;

        .container-logo-text{
          text-transform: uppercase;
          font-size: 93px;
          margin-bottom: 0;
        }
      }

      .container-title{
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 38px;

          .container-title-text{
            text-transform: uppercase;
            font-size: 54px;
            margin-top: 38px;
          }
      }
  }

 .navbar{
  max-width: 1300px;
  min-height: 130px;
  padding: 0 142px;
  position: relative;
  //z-index: -1;
 

    .navbar-brand{
      display: flex;
      justify-content: flex-start;
      align-items: center;
     

        .textMinto{
          text-transform: uppercase;
          padding-left: 15px;
          font-size: 36px;
          margin-top: 15px;
        }
    }

    .navbar-nav{
      display: flex;
      align-items: flex-end;
    }
    .navbar-menu{    font-size: 20px;
      position: relative;
      margin-left: 47px;
      height: 44px;
      padding: 0px 4px;
      line-height: 40px;
      cursor: pointer;
    }
 }